Repository YisraelBerman/positions: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Path conditions:
  Build Backend: any of: app/backend/**
  Build Frontend: any of: app/frontend/**

Update index.html
  app/frontend/public/index.html
Due: Build Frontend

Create send_SQS
  .github/workflows/send_SQS
Due: none

Rename send_SQS to send_SQS.yml
  .github/workflows/send_SQS.yml
Due: none

Rename trigger_jenkins_mail.yml to _trigger_jenkins_mail.yml
  .github/workflows/_trigger_jenkins_mail.yml
Due: none

github actions
  .github/workflows/_trigger_jenkins_mail.yml
Due: none

fixed typo
  .github/workflows/send_SQS.yml
Due: none

style: change DB info
  app/backend/volunteers.csv
Due: Build Backend

test: test pipeline
  app/backend/app.py
Due: Build Backend

fix: in jenkinsfile
  Jenkinsfile
  app/frontend/src/App.js
Due: Build Frontend

feat: add precommit script
  Jenkinsfile
  app/backend/volunteers.csv
Due: Build Backend

style: pipeline
  Jenkinsfile
Due: none

style: changed app title
  app/frontend/public/index.html
Due: Build Frontend

other: test linter and fixed gitignore to includer readme
  .gitignore
  README.md
  app/backend/app.py
  app/frontend/.gitignore
  app/frontend/README.md
Due: Build Backend, Build Frontend

other: new branch with users feature
  .gitignore
  app/backend/app.py
  app/backend/config.py
  app/backend/models.py
  app/backend/requirements.txt
  app/backend/users.csv
  app/backend/volunteers.csv
  app/frontend/src/App.js
  app/frontend/src/Header.js
  app/frontend/src/VolunteerList.js
  app/frontend/src/axiosConfig.js
Due: Build Backend, Build Frontend

feat: added files
  .gitignore
  app/frontend/src/components/Login.js
  app/frontend/src/components/PrivateRoute.js
  app/frontend/src/contexts/AuthContext.js
  app/frontend/src/services/authService.js
Due: Build Frontend

working!!!!
  app/backend/volunteers.csv
  app/frontend/public/index.html
  app/frontend/src/App.js
  app/frontend/src/keycloak.js
Due: Build Backend, Build Frontend

feat: added working!!! keycloak files
  .gitignore
  app/backend/volunteers.csv
  app/frontend/public/index.html
  app/frontend/src/App.js
  app/frontend/src/keycloak.js
  app/keycloak/README.md
  app/keycloak/docker-compose.yml
Due: Build Backend, Build Frontend

fix: pipeline will skup if changes whre made only to keycloak files
  Jenkinsfile
Due: none

test: restart server
  app/backend/app.py
  app/frontend/public/index.html
Due: Build Backend, Build Frontend

test: restarted server
  app/backend/app.py
  app/frontend/public/index.html
Due: Build Backend, Build Frontend

test: build
  app/backend/app.py
Due: Build Backend

test: build
  Jenkinsfile
  app/backend/app.py
Due: Build Backend

fix: IP
  app/frontend/public/index.html
Due: Build Frontend

fix: kaycloak IP more dynamic
  Jenkinsfile
  app/frontend/src/keycloak.js
Due: Build Frontend

fix: fix package.json
  app/frontend/package.json
  app/keycloak/docker-compose.yml
Due: Build Frontend

fix: setup keycloak
  app/frontend/src/App.js
  app/keycloak/README.md
  app/keycloak/docker-compose.yml
Due: Build Frontend

other: go back
  app/frontend/src/App.js
Due: Build Frontend

test: build
  app/frontend/package.json
Due: Build Frontend

test: frontend
  app/frontend/public/index.html
Due: Build Frontend

test: fix error
  app/frontend/public/index.html
Due: Build Frontend

fix: keycloak address
  Jenkinsfile
Due: none

test: afdsf
  app/frontend/public/index.html
Due: Build Frontend

fix: t
  app/frontend/public/index.html
Due: Build Frontend

test: find error
  Jenkinsfile
  app/frontend/src/keycloak.js
Due: Build Frontend

fix: saf
  app/frontend/src/keycloak.js
Due: Build Frontend

fix: works?
  Jenkinsfile
  app/frontend/src/keycloak.js
Due: Build Frontend

test: build
  app/frontend/public/index.html
Due: Build Frontend
