Repository YisraelBerman/positions: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Path conditions:
  Build Backend: any of: app/backend/**
  Build Frontend: any of: app/frontend/**

other: working app without keycloak
  app/frontend/src/App.js
Due: Build Frontend

fix: update package json
  app/frontend/package.json
Due: Build Frontend

unused file
  app/frontend/src/_keycloak.js
Due: Build Frontend

almost working keycloak
  app/backend/app.py
  app/frontend/package.json
  app/frontend/public/silent-check-sso.html
  app/frontend/src/App.js
  app/frontend/src/_keycloak.js
  app/frontend/src/auth.js
  app/frontend/src/axiosConfig.js
  app/frontend/src/index.js
  app/frontend/src/useKeycloak.js
Due: Build Backend, Build Frontend

better' time sync issue
  app/backend/app.py
  app/frontend/src/App.js
  app/frontend/src/axiosConfig.js
  app/frontend/src/useKeycloak.js
Due: Build Backend, Build Frontend

wroking but not good
  app/backend/app.py
  app/backend/volunteers.csv
  app/frontend/src/App.js
  app/frontend/src/axiosConfig.js
  app/frontend/src/useKeycloak.js
Due: Build Backend, Build Frontend

working slow
  app/backend/volunteers.csv
  app/frontend/src/App.js
Due: Build Backend, Build Frontend

working
  app/backend/volunteers.csv
  app/frontend/src/App.js
  app/frontend/src/axiosConfig.js
  app/frontend/src/useKeycloak.js
Due: Build Backend, Build Frontend

updated for docker build
  app/backend/README.md
  app/backend/app.py
  app/backend/dockerfile
  app/backend/requirements.txt
  app/backend/volunteers.csv
  app/frontend/README.md
  app/frontend/dockerfile
  app/frontend/package.json
  app/frontend/src/axiosConfig.js
  app/frontend/src/useKeycloak.js
Due: Build Backend, Build Frontend

test: pipeline and dockerfiles
  app/backend/app.py
  app/backend/volunteers.csv
  app/frontend/public/index.html
Due: Build Backend, Build Frontend

test: pipeline and dockerfiles
  Jenkinsfile
  app/backend/app.py
  app/frontend/public/index.html
Due: Build Backend, Build Frontend

test: a
  Jenkinsfile
  app/backend/app.py
  app/frontend/public/index.html
Due: Build Backend, Build Frontend

test:
  app/backend/app.py
  app/frontend/public/index.html
Due: Build Backend, Build Frontend

test:
  Jenkinsfile
  app/backend/app.py
  app/frontend/public/index.html
Due: Build Backend, Build Frontend

fix: fit also http
  app/frontend/src/useKeycloak.js
Due: Build Frontend

fix:
  app/frontend/src/useKeycloak.js
Due: Build Frontend

test: https
  Jenkinsfile
  README.md
  app/frontend/dockerfile
  app/frontend/src/App.js
  app/frontend/src/Footer.js
  app/frontend/src/_auth.js
  app/keycloak/docker-compose.yml
Due: Build Frontend

fix: missing build
  app/frontend/dockerfile
Due: Build Frontend

fix: backend keycloak address
  Jenkinsfile
Due: none

test:
  app/backend/app.py
  app/frontend/src/App.js
Due: Build Backend, Build Frontend

fix: missing install
  app/frontend/dockerfile
Due: Build Frontend

fix: typo
  app/frontend/dockerfile
Due: Build Frontend

test: connection
  Jenkinsfile
  app/backend/app.py
  app/frontend/public/index.html
  app/keycloak/docker-compose.yml
Due: Build Backend, Build Frontend

fix: keycloak address
  Jenkinsfile
  app/frontend/dockerfile
Due: Build Frontend

fix: connection error
  Jenkinsfile
  app/backend/dockerfile
  app/frontend/public/index.html
Due: Build Backend, Build Frontend

fix: connection
  Jenkinsfile
  app/backend/app.py
  app/backend/dockerfile
  app/frontend/dockerfile
Due: Build Backend, Build Frontend

fix: ssl
  Jenkinsfile
Due: none

fix:
  Jenkinsfile
  app/backend/app.py
  app/frontend/public/index.html
Due: Build Backend, Build Frontend

fix: kaycloak address
  app/frontend/src/useKeycloak.js
Due: Build Frontend

fix:
  app/frontend/public/silent-check-sso.html
Due: Build Frontend

fix
  app/frontend/src/App.js
Due: Build Frontend

f
  app/frontend/src/App.js
  app/frontend/src/useKeycloak.js
Due: Build Frontend

Revert "fix:"
  app/frontend/public/silent-check-sso.html
  app/frontend/src/App.js
  app/frontend/src/useKeycloak.js
Due: Build Frontend

fix
  app/frontend/src/auth.js
  app/frontend/src/useKeycloak.js
Due: Build Frontend

fix:
  app/frontend/src/App.js
  app/frontend/src/auth.js
  app/frontend/src/useKeycloak.js
Due: Build Frontend

fix:
  app/frontend/src/App.js
  app/frontend/src/auth.js
  app/frontend/src/axiosConfig.js
  app/frontend/src/useKeycloak.js
Due: Build Frontend
