Repository YisraelBerman/positions: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Path conditions:
  Build Backend: any of: app/backend/**
  Build Frontend: any of: app/frontend/**

fix
  app/frontend/src/App.js
  app/frontend/src/useKeycloak.js
Due: Build Frontend

f
  app/frontend/src/App.js
  app/frontend/src/axiosConfig.js
  app/frontend/src/useKeycloak.js
Due: Build Frontend

x
  app/frontend/src/App.js
  app/frontend/src/useKeycloak.js
Due: Build Frontend

fix: Update Jenkinsfile
  Jenkinsfile
Due: none

docs: readme with route53 and https setup
  README.md
Due: none

test: pre-commit hook
  README.md
Due: none

feat: no keycloak
  Jenkinsfile
  README.md
  app/backend/README.md
  app/backend/app.py
  app/backend/dockerfile
  app/frontend/README.md
  app/frontend/dockerfile
  app/frontend/package.json
  app/frontend/public/index.html
  app/frontend/public/silent-check-sso.html
  app/frontend/src/App.js
  app/frontend/src/_auth.js
  app/frontend/src/auth.js
  app/frontend/src/axiosConfig.js
  app/frontend/src/index.js
  app/frontend/src/useKeycloak.js
  app/keycloak/README.md
  app/keycloak/docker-compose.yml
Due: Build Backend, Build Frontend

test: change
  app/backend/app.py
  app/frontend/public/index.html
Due: Build Backend, Build Frontend

fix: backend address
  Jenkinsfile
  app/frontend/public/index.html
Due: Build Frontend

fix: typo
  Jenkinsfile
  app/frontend/public/index.html
Due: Build Frontend

fix: fixed deleted lines
  app/backend/app.py
Due: Build Backend

Update index.html
  app/frontend/public/index.html
Due: Build Frontend

Update Jenkinsfile
  Jenkinsfile
Due: none

Update README.md
  README.md
Due: none

fix: github actions file
  .github/workflows/send_SQS.yml
  .gitignore
Due: none

other: updated pre-commit file
  .github/workflows/send_SQS.yml
Due: none

feat: jenkinsfiles branch
  Jenkinsfile
  README.md
  app/backend/.dockerignore
  app/backend/README.md
  app/backend/app.py
  app/backend/dockerfile
  app/backend/fence_points.csv
  app/backend/requirements.txt
  app/backend/volunteers.csv
  app/frontend/.dockerignore
  app/frontend/.gitignore
  app/frontend/README.md
  app/frontend/dockerfile
  app/frontend/package.json
  app/frontend/public/index.html
  app/frontend/src/App.css
  app/frontend/src/App.js
  app/frontend/src/App.test.js
  app/frontend/src/Assignments.js
  app/frontend/src/Footer.js
  app/frontend/src/Header.js
  app/frontend/src/MapPage.js
  app/frontend/src/VolunteerList.js
  app/frontend/src/axiosConfig.js
  app/frontend/src/index.css
  app/frontend/src/index.js
  app/frontend/src/reportWebVitals.js
  app/frontend/src/setupTests.js
Due: Build Backend, Build Frontend

feat: main pipeline
  .gitignore
  Jenkinsfile-main
Due: none

perf: clean gitignore file
  .gitignore
Due: none

fix: Rename Jenkinsfile-main to Jenkinsfile-master
  Jenkinsfile-master
Due: none

feat: new jenkinsfile
  Jenkinsfile
Due: none

test: new pipeline setup
  app/frontend/public/index.html
Due: Build Frontend

feat: add feature pipeline
  Jenkinsfile-feature
Due: none

feat: images repo and tagging
  Jenkinsfile-feature
  Jenkinsfile-master
Due: none

fix: typo
  Jenkinsfile-feature
  Jenkinsfile-master
Due: none

test: pipeline and tagging
  app/backend/app.py
  app/frontend/public/index.html
Due: Build Backend, Build Frontend

test: Update app.py
  app/backend/app.py
Due: Build Backend

fix:
  Jenkinsfile-feature
Due: none

test: app.py
  app/backend/app.py
Due: Build Backend

other: revert
  Jenkinsfile-feature
Due: none

fix: setup
  Jenkinsfile-feature
Due: none

test: setup
  Jenkinsfile
  app/backend/app.py
Due: Build Backend

fix:
  Jenkinsfile
Due: none

fix: lowercase
  Jenkinsfile-feature
  Jenkinsfile-master
Due: none

fix:
  Jenkinsfile-feature
  Jenkinsfile-master
Due: none
